nav img, nav a{
    transform: scale(1);
    transition: transform 0.1s linear;
}
nav img:hover, nav a:hover{
    transform: scale(1.05);
    transition: transform 0.1s linear;
}
button{
    transform: scale(1);
    transition: transform 0.1s linear;
}
button:hover{
    transform: scale(1.05);
    transition: transform 0.1s linear;
}