/*GENERAL*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/
header {
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    background-color: black;

}
nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
}

.clippers, .trimmers, .shavers, .accesorios {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    margin-right: 20px;
    font-weight: bold;
}

nav img {
    height: 50px;
    width: 50px;
}

nav .clippers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
}
nav .trimmers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 110px;
}
nav .shavers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 240px;
}
nav .accesorios {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 350px;
}
nav .logo {
    grid-column: 2;
    justify-self: center;
}

#logoimg {
    height: 120px !important;
    width: 80px !important;
}

nav a.user {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 140px;
}
nav a.buscar {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 70px;
}
nav a.cesta {
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    transform: scale(1.2);
}

/*MAIN*/
main{
    min-width: 100%;
    min-height: 90vh;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.productocesta{
    display: flex;
    flex-direction: column;
    margin-top: -200px;
    margin-right: 100px;
    border-bottom: 3px solid black;
    padding-bottom: 40px;
}
.productocesta img{
    height: 370px;
    width: 370px;
    border: 3px solid black;
    margin-right: 10px;
}
.productocesta article{
    display: flex;
}
.productocesta article div{
    display: flex;
    flex-direction: column;
}
.productocesta article div div{
    display: flex;
    flex-direction: row;
}
.pedido{
    border-left: 3px solid black;
}
.pedido article h3{
    border-bottom: 3px solid black;
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 5rem;
    margin:0 auto;
}
h3{
    font-size: 4rem;
    margin-bottom: 0
}
h1, h2, h3{
    font-family: 'Bebas Neue', sans-serif;
}
article div{
    font-size: 1.5rem;
}
div p:nth-child(2){
    margin-bottom: 120px;
}
div button{
    background-color: white;
    border: 1px solid black;
    text-align: left;
    width: 20px;
    height: 20px;
}
#tramitar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
}

#tramitar:hover{
    background-color: rgb(37, 37, 37);
}
.pedido{
    padding-left: 40px;
}