/*GENERAL*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/
header {
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    background-color: black;

}
nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
}

.clippers, .trimmers, .shavers, .accesorios {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    margin-right: 20px;
    font-weight: bold;
}

nav img {
    height: 50px;
    width: 50px;
}

nav .clippers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
}
nav .trimmers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 110px;
}
nav .shavers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 240px;
}
nav .accesorios {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 350px;
}

nav .logo {
    grid-column: 2;
    justify-self: center;
}

#logoimg {
    height: 120px !important;
    width: 80px !important;
}

nav a.user {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 140px;
}
nav a.buscar {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 70px;

}
nav a.cesta {
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    transform: scale(1.2);
}

/*MAIN*/
main{
    min-width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1,h2,h3{
    font-family: 'Bebas Neue', sans-serif;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
    margin-bottom: 10px;
}
h3{
    border-bottom: 3px solid black;
    font-size: 3rem;
    margin-bottom: 0;
}
.pedido{
    margin-top: -70px;
}
.pago{
    margin-left: 50px;
    margin-top: -40px;
    padding-left: 50px;
    border-left: 3px solid black;
    display: flex;
}

.pago article:nth-child(2){
    margin-left: 100px;
}

.pago article form{
    display: flex;
    flex-direction: column;
}
#prod{
    display: flex;
    flex-direction: row;
}
#prod img{
    height: 150px;
    width: 150px;
    border: 3px solid black;
    margin-right: 10px;
}
#prod div{
    display: flex;
    flex-direction: column;
}
input{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;

}
input:hover{
    background-color: rgb(37, 37, 37);
}
label{
    margin-top: 20px;
}
textarea{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;

}
textarea:hover{
    background-color: rgb(37, 37, 37);
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
}
button:hover{
    background-color: rgb(37, 37, 37);
}