/*GENERAL*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
/*BODY*/
body{
    display: flex;
    flex-direction: column;
    background-image: url(img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}
/*HEADER*/
header {
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    transition: background-color 0.5s linear;
}
header:hover{
    background-color: black;
    transition: background-color 0.5s linear;
}
nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
}
nav img {
    height: 50px;
    width: 50px;
}

.logo {
    grid-column: 2;
    justify-self: center;
    height: 120px !important;
    width: 80px !important;
}

nav a.user {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
}
/*MAIN*/
main{
    min-width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main p{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 8rem;
}