/*GENERAL*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
/*BODY*/
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url(img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}
/*HEADER*/
header {
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    transition: background-color 0.5s linear;
}
header:hover{
    background-color: black;
    transition: background-color 0.5s linear;
}
nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
}

.clippers, .trimmers, .shavers, .accesorios {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    margin-right: 20px;
    font-weight: bold;
}

nav img {
    height: 50px;
    width: 50px;
}

nav .clippers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
}
nav .trimmers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 110px;
}
nav .shavers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 240px;
}
nav .accesorios {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 350px;
}

nav .logo {
    grid-column: 2;
    justify-self: center;
}

#logoimg {
    height: 120px !important;
    width: 80px !important;
}

nav a.user {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 140px;
}
nav a.buscar {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right:70px;
}
nav a.cesta {
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
}

/*MAIN*/
main{
    min-width: 100%;
    min-height: 90vh;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
main a{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 8rem;
    text-decoration: none;
}

