/*GENERAL*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/*MAIN*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
main img{
    margin-top: 20px;
    height: 280px;
    width: 240px;
}

/*FORMULARIO*/
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 8rem;
    margin-top: 0px;
    margin-bottom: 20px;
}
input{
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 5px;
    width: 300px;
    height: 30px;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
}
button:hover{
    background-color: rgb(37, 37, 37);
}
p{
    margin-top: 5px;
}
a{
    color: black;
}
label{
    align-self: flex-start;
    margin-top: -30px;
}