/*GENERAL*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/
header {
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    background-color: black;

}
nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
}

.clippers, .trimmers, .shavers, .accesorios {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    margin-right: 20px;
    font-weight: bold;
}

nav img {
    height: 50px;
    width: 50px;
}

nav .clippers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
}
nav .trimmers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 120px;
}
nav .shavers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 240px;
}
nav .accesorios {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 350px;
}

nav .logo {
    grid-column: 2;
    justify-self: center;
}

#logoimg {
    height: 120px !important;
    width: 80px !important;
}

nav a.user {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 140px;
    transform: scale(1.2);
}
nav a.buscar {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right:70px;
}
nav a.cesta {
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
}

/*MAIN*/
main{
    min-width: 100%;
    min-height: 90vh;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 5rem;
    margin: 0px auto;
}
h1, h2, h3{
    font-family: 'Bebas Neue', sans-serif; 
}

h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
section{
    display: flex;
    flex-direction: row;
}
article{
    margin: 0px 100px;
}
article img{
    height: 150px;
    width: 150px;
    border: 3px solid black;
}
hr{
    border: 1px solid black;
}

@media (max-width:1300px) {
    section{
    display: flex;
    flex-direction: column;
    }
}