/*GENERAL*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/
header {
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    background-color: black;

}
nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
}

.clippers, .trimmers, .shavers, .accesorios {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    margin-right: 20px;
    font-weight: bold;
}

nav img {
    height: 50px;
    width: 50px;
}

nav .clippers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    font-weight: 500;
}
nav .trimmers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 110px;
}
nav .shavers {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 240px;
}
nav .accesorios {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    margin-left: 350px;
}

nav .logo {
    grid-column: 2;
    justify-self: center;
}

#logoimg {
    height: 120px !important;
    width: 80px !important;
}

nav a.user {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 140px;
}
nav a.buscar {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right:70px;
}
nav a.cesta {
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
}

/*MAIN*/
main{
    min-width: 100%;
    min-height: 90vh;
    margin: 0;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
}
button:hover{
    background-color: rgb(37, 37, 37);
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
}
#nombre{
    margin-top: -20px;
    margin-bottom: 0;
}
#precio{
    margin-top: 0;
}
main img{
    height: 500px;
    width: 500px;
    border: 3px solid black;
    margin-right: 10px;
}
.prodinfo{
    margin-left: 10px;
}